@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  color: #fdfdfd;
  background-color: #1d1d1d;
}

#app {
  margin-inline: auto;
  font-family: 'Roboto', sans-serif;
  width: min(98%, 1440px);
}

.nok-table {
  color: #da3e52;
}

.ok-table {
  color: #96E6B3;
}
