@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  color: #fdfdfd;
  background-color: #1d1d1d;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-items: center; */
}

#app {
  margin-inline: auto;
  font-family: 'Nunito', sans-serif;
  width: min(98%, 1440px);
}

.nok-table {
  color: #da3e52;
}

.ok-table {
  color: #96E6B3;
}
